.wistia { 
    display:flex;
    
     }

.boum{
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
    margin-left: 10px;
    height: 100%;
}
.cover{
    display:flex;
}
.yll{
    margin-left: 30px;
}
.srz{
    margin-left: 30px;
}
.bim{
    margin-left: 30px;
}
.bam{
    margin-left: 30px;
}
.Video-software{
   color: white
}
.splash{
    margin-left: 500px;
}
body{
background-color: pink;
}  